<p id="notice"><%= notice %></p>

<div class="typewriter-wrapper">
  <div>
    <h1 class="typewriter-text line-1">Welcome, <%= @user.email %>!</h1>
  </div>
</div>

<div class="typewriter-wrapper">
  <div>
    <h1 class="typewriter-text line-1">Pick one team for the week. Good luck!</h1>
  </div>
</div>
<div class="teams">
  <%  @teams.each do |team| %>
      <%= button_to "user_team",
                    action: "create",
                    data: { confirm: "Are you sure?", disable_with: "Please wait..."},
                    params: {team_pick: team.city},
                    form_class: "btn btn-primary btn-block team-city",
                    class: "btn btn-primary team-city" do %>
          <%= team.city %>
      <% end %>
    <% end %>
</div>
